.modern-main{
    background-image: url('../../../assets/images/header-bg-home.png');
    background-repeat: no-repeat; 
    background-position: bottom;
    background-size: 100%;
}
.modern-sec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 75px;
}
.modern-content1{
    width: 55%;
    padding: 50px 0;
}
.modern-content2{
    width: 45%;
}
.modern-content2 img{
    border-radius: 500px 500px 0px 0px;
    max-width: 550px;
    box-shadow: 0 0 20px grey;
}
.modern-content1 h4{
    color: #121212;
    font-size: 70px;
    font-family:"giloryBold";
}
.modern-content1 span{
    color: #1E87F0;
    font-size: 70px;
    font-family:"giloryBold";
}
.modern-content1 p{
    color: #353535;
    font-size: 25px;
    font-family:"giloryMedium";
    max-width: 650px;
    padding: 15px 0;
}
.modern-anc{
    margin: 40px 0 0 0;
}
.modern-anc a{
    background-color: #1E87F0;
    color: #fff;
    font-size: 22px;
    padding: 18px 44px;
    border-radius: 10px;
}
.modern-anc a:hover{
    background-color: #000;
    color: #fff;
}
@media screen and (max-width:1024px){
    .modern-sec{
        margin-top: 50px;
    }
    .modern-content1 h4,.modern-content1 span{
        font-size: 50px;
    } 
    .modern-content1 p{
        font-size: 22px;
        padding: 10px 0;
    }
    .modern-anc a{
        font-size: 18px;
        padding: 15px 40px;
    }  
}
@media screen and (max-width:768px){
    .modern-sec{
        margin-top: 30px;
    }
    .modern-content1 h4,.modern-content1 span{
        font-size: 40px;
    } 
    .modern-content1 p{
        font-size: 20px;
        padding: 7px 0;
    }
    .modern-anc a{
        font-size: 18px;
        padding: 15px 35px;
    }  
}
@media screen and (max-width:576px){
    .modern-sec{
       flex-direction: column;
    }
    .modern-content1 , .modern-content2{
        width: 95%;
        padding: 0 10px;
    }
    .modern-content1 h4, .modern-content1 span{
        font-size: 32px;
    } 
    .modern-content1 p{
        padding: 7px 0;
    }
    .modern-anc{
        margin: 20px 0 30px 0;
    }
    .modern-anc a{
        font-size: 18px;
        padding: 15px 35px;
    }  
}