.plot-main{
    position: relative;
    margin: 30px 0;
    padding: 20px 0 150px 0;
}
.plot-content{
    text-align: center;
}
.plot-content h4{
    color:#000;
    font-size: 36px;
    padding: 15px 0;
    font-weight: bold;
}
.plot-content p{
    color:#000;
    font-size: 28px;
    padding: 15px 0;
}
.plot-main .plot-video{
    width: 120px;
    height: 120px;
    padding: 40px;
    background-color: blue;
    border-radius: 50%;
}
.plot-main .plot-video img{
    width: 30px;
    height: 30px;
}
.plot-main .plot-video{
    position: absolute;
    border-radius: 50%;
    top: 170px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
}
@media screen and (max-width:768px){
    .plot-main .plot-video{
        top: 200px;
    }
    .plot-content h4{
        font-size: 30px;
    }
    .plot-content p{
        font-size: 20px;
    }
}
