.werkt-main{
    text-align: center;
}
.werkt-main h6{
    font-size: 22px;
    color: black;
}
.werkt-main .werkt-icon{
    text-align: center;
    width: 130px;
    height: 130px;
    margin: 15px auto 20px;
    border-radius: 50%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.werkt-main .werkt-icon img{
    width: 80px;
    height: 80px;
}

.werkt-main .werkt-icon p{
    color: #000;
}
.werkt-main .explore-anc a{
    color: #000;
    font-weight: bold;
    font-size: 22px;
}

