.wrapcontentsec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.wrapcontentdata1{
    width: 47%;
    margin: auto 0;
}
.wrapcontentdata1 h4{
    color: #1E87F0;
    font-size: 30px;
    font-family: "giloryBold";
    margin: 0;
}
.wrapcontentdata1 h5{
    color: #231F20;
    font-size: 50px;
    font-family: "giloryBold";
    margin: 15px 0;
}
.wrapcontentdata1 p{
    color: #353535;
    font-size: 22px;
    font-family: "giloryMedium";
    margin: 0;
}
.wrapcontentdata1 .wrapcontentanc a{
    color: #fff;
    font-size: 22px;
    font-family: "giloryBold";
    padding: 12px 15px;
    margin : 0px 15px 0px 0;
    border-radius: 8px;
}
.bg1{
    background-color: #1E87F0;
}
.bg2{
    background-color: #231F20;
}
.wrapcontentdata2{
    width: 45%;
}
.wrapcontentdata2 img{
    border-radius: 500px 500px 0px 0px;
    max-width: 550px;
    box-shadow: 0 0 20px grey;
}
@media screen and (min-width:992px) and (max-width:1024px) {
    .wrapcontentdata1 h4{
        font-size: 24px;
    }
    .wrapcontentdata1 h5{
        font-size: 36px;
    }
    .wrapcontentdata1 p{
        font-size: 20px;
    }
}
@media screen  and (max-width:768px) {
    .wrapcontentdata1 h4{
        font-size: 17px;
    }
    .wrapcontentdata1 h5{
        font-size: 26px;
    }
    .wrapcontentdata1 p{
        font-size: 16px;
    }
    .wrapcontentdata1 .wrapcontentanc a{
        font-size: 20px;
        margin : 0px 15px 10px 0;
        display: block;
        text-align: center;
    }
}
@media screen  and (max-width:576px) {
    .wrapcontentdata1 h4{
        font-size: 17px;
    }
    .wrapcontentdata1 h5{
        font-size: 24px;
    }
    .wrapcontentdata1 p{
        font-size: 16px;
    }
    .wrapcontentdata1 .wrapcontentanc a{
        font-size: 20px;
        margin : 0px 15px 10px 0;
        display: block;
        text-align: center;
    }
    .wrapcontentdata1{
        width: 100%;
        margin: 20px 0;
    }
    .wrapcontentdata2{
        width: 90%;
        margin: 0 auto;
    }
}