.miss2image{
    width: 73px;
    height: 73px;
    border-radius: 50%;
    background-color: #1E87F0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}
.miss2image img{
    width: 35px;
    /* height: 73px;*/
}
.miss2main{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: 8px 0 15px 0;
    padding: 10px 5px;
}
.miss2content h3{
    color: #231F20;
    font-size: 25px;
    font-family: "giloryBold";
    margin: 0;
}
.miss2content .miss2anc{
    margin: 10px 0;
}
.miss2content .miss2anc a{
    color: #1E87F0;
    background-color: #EBEFF9;
    font-size: 22px;
    font-family: "giloryBold";
    padding: 12px 15px;
    border-radius: 8px;
}
@media screen and (max-width:576px) {
    .miss2content h3{
        font-size: 18px;
    }
    .miss2content .miss2anc a{
        font-size: 16px;
    }
    
}
