.Nimage{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #1E87F0;
    margin:0px 6px 5px 0;
}
/* .Nimage img{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #1E87F0;
} */