.Hwrapdata{
    display: flex;
    justify-content: space-between;
}
.Hwrapcontent1 ul {
    display: flex;
}
.Hwrapcontent1 ul li a{
    padding: 8px 8px;
    margin: 0 5px;
    font-size: 18px;
    font-family: "giloryBold";
    color: #000000;
    border-radius: 30px;
}
.Hwrapcontent1 ul li a:hover{
    color: #fff;
    background-color: #1E87F0;
}
.hwrapdropimg a img{
    width: 12px;
    margin-left:10px;
}
.hwrapdropimg a label, span{
    color: #242E42;
    font-size: 18px;
    font-family: "giloryMedium";
}
@media screen and (max-width:768px) {
    .Hwrapdata, .Hwrapcontent1 ul{
        flex-direction: column;
    }
    .Hwrapcontent1 ul li{
        margin: 5px 0;
    }
    .Hwrapcontent1 ul li a{
        padding: 8px 8px;
        margin: 0 2px;
        font-size: 16px;
    }
    .hwrapdropimg a label, span{
        font-size: 16px;
    }
}