.footmain{
    background-color: aliceblue;
}
.footer-image img{
    max-width: 275px;
}
.foot-top{
    padding: 20px 0;
}
.foot-sec h4{
    font-size: 24px;
    color: blue;
    font-weight: bold;
}
.foot-sec p{
    font-size: 16px;
    color: #000;
    padding: 15px 0;
    max-width: 320px;
}
.foot-sec h5{
    font-size: 24px;
    color: #000;
}
.foot-sec ul li a ,span{
    font-size: 16px;
    color: #000;
}
.foot-sec ul li{
    padding: 10px 0 0 0;
}
.footbottom{
    padding: 25px 10px;
}