.plotwrapper{
    background-image: url("../assets/images/header-bg.png");
    background-size:  100% 100%;
    background-repeat: no-repeat;
    height: 90vh;
}
.plotwrapper-content1 {
    width: 55%;
    padding: 153px 0 50px 0;
}
.plotwrapper-content1 h1{
    font-weight: bold;
    font-size: 60px;
    color:#2288ED;
    max-width: 575px;
    padding-bottom: 25px;
}
.plotwrapper-content1 h4{
    font-size: 18px;
    color:black;
    max-width: 555px;
    padding-bottom: 20px;
}
.plotwrapper-content1 p{
    font-size: 18px;
    color:black;
    max-width: 540px;
}
.plotwrapper-anc{
    margin: 40px 0 0 0;
}
.plotwrapper-anc .plotwrapper-input input{
    width: 55%;
    outline: none;
    border: none;
    padding: 12px 8px;
    border-radius: 8px;
    box-shadow: 0 1px 2px grey;
    background-color: #fff;
    margin-bottom: 25px;
}
.plotwrapper-anc .plotwrapper-input input::placeholder{
    color: #000;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
.plotwrapper-anc  button{
    display: block;
    padding: 12px 8px;
    color: white;
    background-color: #2288ED;
    width: 55%;
    border-radius: 8px;
    font-weight: bold;
    border: none;
}
.social-media .media-icon{
    margin: 30px 0 0 0;
}
.social-media .media-icon a img{
    height: 40px;
    width: 40px;
    margin: 0 15px 0 ;
}
/*media queries */

@media screen and (max-width: 1024px) {
    .plotwrapper-content1 {
        padding: 120px 0 50px 0;
    }
    .plotwrapper-content1 h1 {
        font-size: 54px;
        padding-bottom: 15px;
    }
  }
  @media screen and (max-width: 768px) {
    .plotwrapper-content1 h1 {
        font-size: 40px;
    }
    .plotwrapper-content1 {
        width: 65%;
    }
    .plotwrapper-content1 h4 {
        font-size: 16px;
        padding-bottom: 5px;
    }
    .plotwrapper-content1 p {
        font-size: 16px;
    }
    .social-media .media-icon {
        margin: 15px 0 0 0;
    }
    .plotwrapper-anc .plotwrapper-input input {
        width: 75%;
        margin-bottom: 15px;
    }
    .plotwrapper-anc .plotwrapper-input button {
        width: 75%;
    }
  }
  @media screen and (max-width:600px){
    .plotwrapper-content1 {
        padding: 80px 0 40px 0;
    }
    .plotwrapper-content1 {
        width: 100%;
    }
    .plotwrapper-content1 h1 {
        font-size: 30px;
    }
    .plotwrapper{
        /* background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.3), url("../assets/images/header-bg.png"),); */
        height: unset;
    }
    .plotwrapper-anc .plotwrapper-input input {
        width: 100%;
    }
    .plotwrapper-anc .plotwrapper-input button {
        width: 100%;
    }
  }
