.nav_main a.navbar-brand img{
    max-width: 250px;
}
.nav-data li{
    margin:0px 25px;
}
.nav-data li a {
    display: inline-block;
    position: relative;
    color: #000;
    font-weight: bold;
}
.nav-data li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 5px;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav-data li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.toggle-icon{
    border: none;
}
.toggle-icon img{
    width: 30px;
    height: 30px;
    border: none;
}
@media screen and (max-width:576px){
    .nav_main{
        position: relative;
    }
    .burger-nav{
        position: absolute;
        top: 70px;
        right: 0;
        left: 0;
        background-color: #f0f0f0;
        transition: 0.3s ease-in-out;
    }
    .nav-data{
        height: 60vh;
    }
    .nav-data li {
        margin: 15px 25px;
    }
    .navbar-toggler {
        padding: 0 !important; 
        border: none !important;
    }
}