.FeatureSec-main h4{
    color: black;
    font-weight: bold;
    font-size: 22px;
}
.Feature-Sec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.FeatureSec-content{
    width: 50%;
    margin-bottom: 20px;
}
.FeatureSec-anc a{
    background-color: blue;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    padding: 12px 20px;
    font-weight: bold;
}
@media screen and (max-width:576px){
    .Feature-Sec{
        flex-direction: column;
    }
    .FeatureSec-content{
        width: 80%;
        margin-bottom: 20px;
    }

}