.Feat-sec{
    padding: 30px 0;
}
.Feat-main{
    display: flex;
    justify-content: space-between;
}
.Feat-content1{
    width: 45%;
    margin-bottom: 20px;
}
.Feat-content2{
    width: 50%;
    margin-bottom: 20px;
}
@media screen and (max-width:768px){
    .Feat-main{
        flex-direction: column; 
    }
    .Feat-content1,.Feat-content2{
        width: 100%;
    }
}