.feature-main .feature-content h3{
    color: #000;
    font-size: 24px;
    font-weight: bold;
}
.feature-main .feature-content p{
    color: #000;
    font-size: 18px;
}
.feature-content .feature-icon{
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.feature-content .feature-icon img{
    width: 50px;
    height: 50px;
}
