/* .WorthyCard-main.WorthyCard-content h6{
    color: blue;
    font-size: 24px;
    font-weight: bold;
} */
.WorthyCard-content h6{
    color: blue;
    font-size: 22px;
    font-weight: bold;
}
.WorthyCard-content p{
    color: #000;
    font-size: 18px;
}