.Worthy-main h4{
    color: #000;
    font-size: 24px;
    font-weight: bold;
}
.Worthy-sec{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin: 15px 0;
}
.Worthy-content{
    width: 31%;
}
@media screen and (max-width:576px){
    .Worthy-content{
        width: 50%;
    }
}