.tinvoicemain{
    background-color: #fff;
    box-shadow: 0px 2px 100px rgba(0, 0, 0, 0.15);
    padding: 15px;
    width: 100%;
}
.tinvoicemain h4{
    color: #231F20;
    font-family: "giloryBold";
    font-size: 25px;
    padding: 15px 0;
}
.tinvoicemain table{
    width: 100%;
    overflow-x: scroll;
}
.tinvoicemain th {
    background-color: #EBEFF9;
    /* padding: 5px; */
}
.tinvoicemain th,td {
    padding: 8px 5px;
}
.tinvoicemain tr:nth-child(odd) {
    background-color: #F8FAFF;
}
@media screen and (max-width:768px) {
    /* .tinvoicemain table{
        overflow-x: scroll;
    } */
    
}