.tabheaderlogo img{
    width: 70px;
}
.tabheadermain{
    display: flex;
    justify-content: space-between;
}
.profileimg img{
    border-radius: 50%;
    width: 68px;
    margin-right: 8px;
}
.profileimg img:nth-of-type(2){
    width: 13px;
    margin-left: 8px;
}
.tabprofile{
    display: flex;
    justify-content: space-between;
}
.dropdowncontent{
    margin: auto 15px auto 10px;
}
.dropdown-menu {
    top: 25px !important;
}
@media screen and (max-width:576px) {
    /* .tabheadermain{
        justify-content: unset;
    } */
    .tabprofile{
        margin-left: auto;
    }
}